<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
	<rewrite>
	  <rules>
		<!--Thanks to Ruslan Y at ruslany.net/2009/04/10-url-rewriting-tips-and-tricks-->
		<rule name="Canonical Host Name" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions>
			<add input="{HTTP_HOST}" pattern="^sbywico2\.org$" />
		  </conditions>
		  <action type="Redirect" url="http://www.sbywico2.org/{R:1}" redirectType="Permanent" />
		</rule>
		<rule name="Default Document" stopProcessing="true">
		  <match url="(.*)default.aspx" />
		  <action type="Redirect" url="{R:1}" redirectType="Permanent" />
		</rule>
		<rule name="Convert to lower case" stopProcessing="true">
		  <match url=".*[A-Z].*" ignoreCase="false" />
		  <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
		</rule>
		<rule name="Remove trailing slash" stopProcessing="true">
		  <match url="(.*)/$" />
		  <conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		  </conditions>
		  <action type="Redirect" redirectType="Permanent" url="{R:1}" />
		</rule>
	  </rules>
	</rewrite>
    </system.webServer>
</configuration>
