* {
	box-sizing:border-box;
}
html {
	background-color:#EEE;
}
body {
	background-color:rgb(255, 255, 255);
	font-family:'Quicksand', sans-serif;
	font-size:large;
	line-height:1.5;
	margin:auto;
	padding:10px;
	width:100%;
}
a {
	color:SteelBlue;
	font-weight:bold;
	text-decoration:underline;
}
img {
	width:100%;
}
.asideimg {
	width:90%;
}
.column {
	float:left;
}
.left {
	width:100%;
}
.right {
	width:0;
}

.pcol {
	float:left;
}
.pleft {
	width:100%;
}
.pright {
	width:0;
}

.maindiv {
	padding-right:0;
	border-right:0;
}
aside {
	display:none;
}
.asidediv {
	padding-left:0;
}
.hcenter {
	width:100%;
	text-align:center;
}
.clear {
	clear:both;
}
.hrshort {
	clear:both;
	width:50%;
	text-align:center;
}
ol li {
	padding-left:1em;
}
nav {
	font-weight:bold;
}
footer {
	clear:both;
	font-weight:bold;
	font-size:small;
	text-align:center;
	width:100%;
}
.social {
	width:100%;
	text-align:right;
}
.social img {
	width:50px;
}
.pitch {
	font-weight:bold;
	font-size:larger;
}


@media screen and (min-width:1280px) {
	body {
		padding:1% 5%;
		min-width:1280px;
		width:75%;
	}
	.column {
		float:left;
	}
	.left {
		width:70%;
	}
	.right {
		width:30%;
	}

	.pcol {
		float:left;
	}
	.pleft {
		width:75%;
	}
	.pright {
		padding-left:10px;
		width:25%;
	}
	
	.maindiv {
		border-right:1px solid gray;
		padding-right:30px;
	}
	aside {
		display:block;
	}
	.asidediv {
		padding-left:30px;
	}
}